$fontFamily: 'Poppins', sans-serif;
$fontSize: 16px; //часто встречаемый размер из макета
$mainColor: #ffffff; //цвет шрифта

//*----ШИРИНА МАКЕТА--------------------------------------------------------------------------------
$minWidth: 320; //минимальная ширина стр
$maxWidth: 1950; //ширина макета (полотна)
$maxWidthContainer: 1650; //ширина ограничивающего контейнера (0 = нет ограничений)
$containerPadding: 0 2.5%; //общий отступ у контейнера (по 15 слева и справа)

$containerWidth: $maxWidthContainer + $containerPadding; //ширина срабатывания первого брейкпонта